<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WenData Stream Demo: WebSocket</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <style>
    .task {
      text-align: center;
      margin: 20px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid #ccc;
      padding: 10px;
      text-align: left;
    }
    th {
      background-color: #f4f4f4;
    }
    .created-task {
      border: 1px solid #ccc;
      padding: 10px;
      margin: 10px 0;
      border-radius: 5px;
      background-color: #e7f4e7;
    }
  </style>
</head>
<body>
  <div id="app">
    <task></task>
  </div>

  <template id="task-template">
    <div class="task">
      <h1>Task List</h1>
      <div v-if="tasks.length">
        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Priority</th>
              <th>Status</th>
              <th>Owner</th>
              <th>Created At</th>
              <th>Updated At</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="task in tasks" :key="task.id">
              <td>{{ task.title }}</td>
              <td>{{ task.description }}</td>
              <td>{{ task.priority }}</td>
              <td>{{ task.status }}</td>
              <td>{{ task.owner }}</td>
              <td>{{ formatDate(task.created_at) }}</td>
              <td>{{ formatDate(task.updated_at) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div v-else>
        <p>No new tasks received yet.</p>
      </div>
      <div v-if="createdTask" class="created-task">
        <h2>New Task Created</h2>
        <p><strong>Title:</strong> {{ createdTask.title }}</p>
        <p><strong>Description:</strong> {{ createdTask.description }}</p>
        <p><strong>Priority:</strong> {{ createdTask.priority }}</p>
        <p><strong>Status:</strong> {{ createdTask.status }}</p>
        <p><strong>Owner:</strong> {{ createdTask.owner }}</p>
        <p><strong>Created At:</strong> {{ formatDate(createdTask.created_at) }}</p>
        <p><strong>Updated At:</strong> {{ formatDate(createdTask.updated_at) }}</p>
      </div>
    </div>
  </template>

  <script>
    Vue.component('task', {
      template: '#task-template',
      data() {
        return {
          tasks: [],
          createdTask: null
        };
      },
      created() {
        this.tasks = []; // Clear the tasks array on reload
        this.connectToWebSocket();
      },
      methods: {
        connectToWebSocket() {
          const socket = new WebSocket('ws://127.0.0.1:8888/ws/');

          socket.onmessage = (event) => {
            const data = JSON.parse(event.data);
            if (data.action === 'list') {
              this.updateTasks(data.data);
            } else if (data.action === 'create') {
              this.createdTask = data.data;
              this.tasks.push(data.data);
            }
          };

          socket.onopen = () => {
            console.log('WebSocket connection established');
          };

          socket.onclose = () => {
            console.log('WebSocket connection closed');
          };

          socket.onerror = (error) => {
            console.error('WebSocket error:', error);
          };
        },
        updateTasks(newTasks) {
          this.tasks = [];
          newTasks.forEach(task => {
            this.tasks.push(task);
          });
        },
        formatDate(dateString) {
          return new Date(dateString).toLocaleString();
        }
      }
    });

    new Vue({
      el: '#app'
    });
  </script>
</body>
</html>
